* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #333;
}

h1 {
    justify-self: center;
}

fieldset {
    margin: 1em;
    padding: 1em;
}

.credentials input {
    margin: .5em 0;
}

#error{
    color: red;
}

.credentials{
    display: flex;
    flex-direction: column;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #dbdbdb;
    border-top: 6px solid #175f8a;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.captcha-images {
    display: none;
    grid: 175px / repeat(3, 1fr);
    width: fit-content;
    gap: 5px;
}

.captcha-images label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.img-container {
    display: block;
    position: relative;
    width: 175px;
    height: 175px;
    border: 1px solid #ccc;
}

.img-container > label {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    cursor: pointer;
}

.img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* funziona solo per immagini quadrate altrimenti taglia immagine */
    object-fit: cover;
}

.img-container input[type="checkbox"] {
    display: none;
}

.img-container:last-child {
    width: 1px;
    height: 1px;
    margin-left: -999px;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}
#form{
    display: grid;
    justify-content: center;
    align-items: center;
}

label img {
  height: 175px;
  width: 175px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.progress-bar{
    background: #9e9fbd;
    width: 38em;
    height: 1em;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    visibility: hidden;
}

.progress-bar div{
    height: 1.5em;
    border-radius: 5px;
    background: rgb(98, 155, 219);
    width: 0%;
    transition: 1s ease 0.3s;
}

.progress-bar div span{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background: rgb(49, 73, 206);
    color: #fff;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #13144b;

}

#generate{
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #13144b;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    width: 35em;
    height: 2em;
    justify-self: center;
}

input[type="submit"], input[type="reset"]{
    margin-top: 1em;
    padding: .5em 1em;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    min-width: 55px;
    min-height: 30px;
    visibility: hidden;
}
